In [ ]:
d#House Price Prediction
#The goal for this project is to build a solution that is capable of predicting the house prices better than individuals.

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df = pd.read_csv("/content/Housing (1).csv")
df.head()

      price  area  bedrooms  ...  parking  prefarea furnishingstatus
0  13300000  7420         4  ...        2       yes        furnished
1  12250000  8960         4  ...        3        no        furnished
2  12250000  9960         3  ...        2       yes   semi-furnished
3  12215000  7500         4  ...        3       yes        furnished
4  11410000  7420         4  ...        2        no        furnished

[5 rows x 13 columns]

In [ ]:
df['mainroad'] = df['mainroad'].apply({'yes':1,'no':0}.get)
df['guestroom'] = df['guestroom'].apply({'yes':1,'no':0}.get)
df['basement'] = df['basement'].apply({'yes':1,'no':0}.get)
df['hotwaterheating'] = df['hotwaterheating'].apply({'yes':1,'no':0}.get)
df['airconditioning'] = df['airconditioning'].apply({'yes':1,'no':0}.get)
df['prefarea'] = df['prefarea'].apply({'yes':1,'no':0}.get)
df['furnishingstatus'] = df['furnishingstatus'].apply({'unfurnished':0,'semi-furnished':1,'furnished':2}.get)
df.head()

      price  area  bedrooms  ...  parking  prefarea  furnishingstatus
0  13300000  7420         4  ...        2         1                 2
1  12250000  8960         4  ...        3         0                 2
2  12250000  9960         3  ...        2         1                 1
3  12215000  7500         4  ...        3         1                 2
4  11410000  7420         4  ...        2         0                 2

[5 rows x 13 columns]

In [ ]:
x = df[['area','bedrooms','bathrooms','stories','mainroad','guestroom','basement','hotwaterheating','airconditioning','parking','prefarea','furnishingstatus']]
y = df['price']

In [ ]:
x.head()

   area  bedrooms  bathrooms  ...  parking  prefarea  furnishingstatus
0  7420         4          2  ...        2         1                 2
1  8960         4          4  ...        3         0                 2
2  9960         3          2  ...        2         1                 1
3  7500         4          2  ...        3         1                 2
4  7420         4          1  ...        2         0                 2

[5 rows x 12 columns]

In [ ]:
y.head()

0    13300000
1    12250000
2    12250000
3    12215000
4    11410000
Name: price, dtype: int64

In [ ]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size = 0.00975)
len(x_train)

539

In [ ]:
len(y_train)

539

In [ ]:
len(x_test)

6

In [ ]:
len(y_test)

6

In [ ]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(x_train,y_train)
predictions = model.predict(x_test)
predictions[ :6 ]

array([2812398.70475947, 3535702.64663074, 4917855.85007928,
       3626923.55569147, 8098536.19238795, 3925903.79391902])

In [ ]:
y.head()

0    13300000
1    12250000
2    12250000
3    12215000
4    11410000
Name: price, dtype: int64

In [ ]:
data = {'area':6479,'bedrooms':4,'bathrooms':2,'stories':3,'mainroad':1,'guestroom':0,'basement':1,'hotwaterheating':1,'airconditioning':1,'parking':2,'prefarea':1,'furnishingstatus':1}
index = [1]
new_house = pd.DataFrame(data,index)
new_house

   area  bedrooms  bathrooms  ...  parking  prefarea  furnishingstatus
1  6479         4          2  ...        2         1                 1

[1 rows x 12 columns]

In [ ]:
prediction_new_house = model.predict(new_house)
print("The estimated costs is : ",prediction_new_house)

The estimated costs is :  [8929440.66723132]

In [ ]:
model.score(x,y)

0.6799557372782208