In [554]:
import numpy as np
import pandas as pd

In [556]:
df = pd.read_csv("/content/Housing (1).csv")
df.head()

      price  area  bedrooms  ...  parking  prefarea furnishingstatus
0  13300000  7420         4  ...        2       yes        furnished
1  12250000  8960         4  ...        3        no        furnished
2  12250000  9960         3  ...        2       yes   semi-furnished
3  12215000  7500         4  ...        3       yes        furnished
4  11410000  7420         4  ...        2        no        furnished

[5 rows x 13 columns]

In [557]:
df['mainroad'] = df['mainroad'].apply({'yes':1,'no':0}.get)
df['guestroom'] = df['guestroom'].apply({'yes':1,'no':0}.get)
df['basement'] = df['basement'].apply({'yes':1,'no':0}.get)
df['hotwaterheating'] = df['hotwaterheating'].apply({'yes':1,'no':0}.get)
df['airconditioning'] = df['airconditioning'].apply({'yes':1,'no':0}.get)
df['prefarea'] = df['prefarea'].apply({'yes':1,'no':0}.get)
df['furnishingstatus'] = df['furnishingstatus'].apply({'unfurnished':0,'semi-furnished':1,'furnished':2}.get)
df.head()

      price  area  bedrooms  ...  parking  prefarea  furnishingstatus
0  13300000  7420         4  ...        2         1                 2
1  12250000  8960         4  ...        3         0                 2
2  12250000  9960         3  ...        2         1                 1
3  12215000  7500         4  ...        3         1                 2
4  11410000  7420         4  ...        2         0                 2

[5 rows x 13 columns]

In [558]:
x = df[['area','bedrooms','bathrooms','stories','mainroad','guestroom','basement','hotwaterheating','airconditioning','parking','prefarea','furnishingstatus']]
y = df['price']

In [559]:
x.head()

   area  bedrooms  bathrooms  ...  parking  prefarea  furnishingstatus
0  7420         4          2  ...        2         1                 2
1  8960         4          4  ...        3         0                 2
2  9960         3          2  ...        2         1                 1
3  7500         4          2  ...        3         1                 2
4  7420         4          1  ...        2         0                 2

[5 rows x 12 columns]

In [560]:
y.head()

0    13300000
1    12250000
2    12250000
3    12215000
4    11410000
Name: price, dtype: int64

In [570]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size = 0.0985)
len(x_train)

491

In [571]:
len(y_train)

491

In [572]:
len(x_test)

54

In [573]:
len(y_test)

54

In [574]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(x_train,y_train)
predictions = model.predict(x_test)
predictions[ :6 ]

array([4360960.23708286, 5441007.39846769, 6295794.91660707,
       2393550.87311672, 6667482.13554805, 6794555.9486832 ])

In [575]:
y.head()

0    13300000
1    12250000
2    12250000
3    12215000
4    11410000
Name: price, dtype: int64

In [576]:
data = {'area':6479,'bedrooms':4,'bathrooms':2,'stories':3,'mainroad':1,'guestroom':0,'basement':1,'hotwaterheating':1,'airconditioning':1,'parking':2,'prefarea':1,'furnishingstatus':1}
index = [1]
new_house = pd.DataFrame(data,index)
new_house

   area  bedrooms  bathrooms  ...  parking  prefarea  furnishingstatus
1  6479         4          2  ...        2         1                 1

[1 rows x 12 columns]

In [577]:
prediction_new_house = model.predict(new_house)
print("The estimated costs is : ",prediction_new_house)

The estimated costs is :  [8905716.68929515]

In [578]:
model.score(x,y)

0.6778029329642272